@import "./variables";
@import "~react-toastify/dist/ReactToastify.css";
@import "~react-tippy/dist/tippy.css";
@import "~bootstrap/scss/bootstrap.scss";

html {
  background-color: #eeeeee;
  width: 100vw;
  height: 100vh;
}
body {
  background-color: transparent;
}

.rounded {
  border-radius: 0.8rem !important;
}

.cursor-pointer {
  cursor: pointer;
}

.scrollable {
  max-height: 97vh;
  overflow-y: auto;
}

.player-board {
  .divider {
    height: 2px;
  }
  .board-layout {
    display: flex;
    flex-direction: column;
    .board-tiles {
      display: flex;
      .column {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
