@import "../../../resources/styles/variables";
.game-rules-btn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  z-index: 1000;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: #ffffff;
  }
}
.bingo-claimed-blocker-modal {
  .btn-close {
    display: none;
  }
}
.block-claimer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000, $alpha: 0.2);
  z-index: 1000;
}
