.player-board {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  .board-layout {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 1rem 0rem;
    display: flex;
    flex-direction: column;
    .board-header,
    .board-tiles {
      width: 100%;
      padding: 0rem 1rem;
    }
    .divider {
      width: 100%;
      height: 2px;
      margin: 10px 0px;
      background: #333333;
      background: -webkit-linear-gradient(10deg, #dd1818, #333333);
      background: linear-gradient(10deg, #dd1818, #333333);
    }
    .board-tiles {
      display: flex;
      flex-direction: row;
      .column {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
